
#options_tabs_indentation_indicator { z-index: 3000; display: float; position: absolute; top: 25px; left: 550px; height: 30px; width: 80px; background-size: 80px 30px; background-image: url(../theme/options_tabs_indentation_indicator.svg);}
#options_tabs_roundness_indicator { z-index: 3000; display: float; position: absolute; top: 25px; left: 640px; height: 30px; width: 80px; background-size: 80px 30px; background-image: url(../theme/options_tabs_roundness_indicator.svg);}
#options_tabs_size_indicator { z-index: 3000; display: float; position: absolute; top: 25px; left: 730px; height: 30px; width: 80px; background-size: 80px 30px; background-image: url(../theme/options_tabs_size_indicator.svg);}


/* PIN LIST AND SCROLLBAR */
#pin_list { position: absolute; height: calc(var(--scrollbar_height) + var(--pin_height)); width: 788px; top: 30px; left: 20px;}

#pin_list_scrollbar { position: absolute; height: var(--scrollbar_height); width: 790px; top: calc(var(--pin_height) + 31px); left: 20px; z-index: 1000; background-color: var(--scrollbar_track); }
#pin_list_scrollbar_thumb { position: relative; height: 100%; width: 100px; top: 0px; left: 0px; z-index: 1200; background-color: var(--scrollbar_thumb); }
#pin_list_scrollbar_thumb:hover { background-color: var(--scrollbar_thumb_hover); }



/* PINS */
#pin_list_options_block {z-index: 2000; position:absolute; width: 500px; height: var(--pin_height); top: 30px; left: 20px; margin: 0; /* background:rgba(0,0,255,0.1); */ }
#attention_background.color_bucket { top: 4px; left: 72px; }
#pin_list_background.color_bucket { top: 4px; left: 137px; }
#pin_list_border_bottom.color_border { top: 4px; left: 114px; }


/* ATTENTION PIN */
#attention_background { top: 20px; left: 142px; }



/* TAB LIST AND SCROLLBAR */
#tab_list { position: absolute; height: 800px; width: calc(770px - var(--scrollbar_width)); top: calc(var(--scrollbar_height) + var(--pin_height) + 32px); left: 40px; z-index: 1000 }

#group_scrollbar { position: absolute; height: 800px; width: var(--scrollbar_width); top: calc(var(--scrollbar_height) + var(--pin_height) + 32px); left: calc(810px - var(--scrollbar_width)); z-index: 1000; background-color: var(--scrollbar_track); }
#group_scrollbar_thumb { position: relative; height: 200px; width: 100%; top: 140px; left: 0px; z-index: 1000; background-color: var(--scrollbar_thumb); }
#group_scrollbar_thumb:hover { background-color: var(--scrollbar_thumb_hover); }
#scrollbar_thumb { position: absolute; top: 370px; left: 790px; }
#scrollbar_thumb_hover { position: absolute; top: 390px; left: 790px; }
#scrollbar_track { position: absolute; top: 410px; left: 790px; }


/* SCROLLBAR RESIZE */
#scrollbar_size_indicator {z-index: 3000; display: float; position: absolute; top: 780px; left: 735px; height: 80px; width: 80px; background-size: 80px 80px; background-image: url(../theme/options_scrollbar_size_indicator.svg); }
#options_tab_list_scrollbar_width_down { top: 33px; }
#options_tab_list_scrollbar_width_up { top: 33px; }
#options_tab_list_scrollbar_height_down { left: 30px; top: 60px; }
#options_tab_list_scrollbar_height_up { left: 30px; top: 5px; }


/* TABS */
#tabs_options_block {z-index: 2000; position:absolute; width: 740px; height: auto; top: calc(var(--scrollbar_height) + var(--pin_height) + 36px); left: 50px; margin: 0; /* background:rgba(0,255,0,0.5); */ }

.tab_color_options_row {z-index: 2000; position:relative; width: 740px; height: 26px; /* background:rgba(255,0,0,0.1); */ }
.tab_color_options_row>.color_border {top: 0px; left: 659px;}
.tab_color_options_row>.color_bucket {top: 0px; left: 680px; }
.tab_color_options_row>.font_color {top: 0px; left: 509px; }
.tab_color_options_row>.font_weight_normal {top: 0px; left: 538px; }
.tab_color_options_row>.font_weight_bold {top: 0px; left: 559px; }
.tab_color_options_row>.font_style_normal {top: 0px; left: 588px }
.tab_color_options_row>.font_style_italic {top: 0px; left: 609px; }


/*  border: 1px solid blue;
 */



/* 	--scrollbar_height: 10px;
	--scrollbar_width: 10px; */


/* #scrollbar_thumb { top: 20px; left: 142px; }
#scrollbar_thumb_hover { top: 20px; left: 142px; }
#scrollbar_track { top: 20px; left: 142px; } */



/* DRAG AND DROP INDICATOR */
#dd19 { display: inline-block; border-bottom: 2px solid var(--drag_indicator); }

/* CLOSE TAB BUTTON OPTIONS */
.tab_color_options_row>#close_x { top: 0px; left: calc(753px - var(--scrollbar_width)); }
.tab_color_options_row>#close_hover_x { top: -20px; left: calc(753px - var(--scrollbar_width)); }
.tab_color_options_row>#close_hover_border { top: 0px; left: calc(753px - var(--scrollbar_width)); }
.tab_color_options_row>#close_hover_background { top: 20px; left: calc(753px - var(--scrollbar_width)); }





#expand_hover_background { top: 0px; left: calc(var(--children_padding_left) + 4px); }
#expand_closed_background { top: 0px; left: calc(var(--children_padding_left) + 4px); }
#expand_open_background { top: 0px; left: 4px; }


#tab_list_background { top: 835px; left: 50px; }


/* MENU */
/* #tabs_menu_border { top: 20px; left: 142px; }
#tabs_menu_background { top: 20px; left: 142px; }
#tabs_menu_font { top: 20px; left: 142px; }
#tabs_menu_hover_border { top: 20px; left: 142px; }
#tabs_menu_hover_background { top: 20px; left: 142px; }
#tabs_menu_separator { top: 20px; left: 142px; } */


#toolbar_groups_block { position: absolute; left: 20px; top: calc(var(--scrollbar_height) + var(--pin_height) + 32px); width: 19px; height: 800px; background-color: var(--group_list_background); border-right: 1px solid var(--group_list_borders); overflow: visible; }
#_gtetab_list { width: 200px; height: 20px; }
#_gtetab_list2 { width: 200px; height: 20px; }
#_tab_list2:hover { background-color: var(--group_list_button_hover_background); }

#group_list_background { top: 835px; left: 20px; }
#group_list_borders { top: 129px; left: 12px; }
#group_list_default_font_color { top: 222px; left: 20px; }

#group_list_button_hover_background { top: 610px; left: 20px; }



/* #drag_indicator { top: 100px; left: 10px; } */

/* MAIN TOOLBAR */
/* #toolbar_background { top: 20px; left: 142px; }
#toolbar_border_bottom { top: 20px; left: 142px; } */

/* MAIN TOOLBAR BUTTONS COLORS */
/* #button_background { top: 20px; left: 142px; }
#button_border { top: 20px; left: 142px; }
#button_hover_background { top: 20px; left: 142px; }
#button_hover_border { top: 20px; left: 142px; }
#button_icons { top: 20px; left: 142px; }
#button_icons_hover { top: 20px; left: 142px; } */

/* SEARCH BOX */
/* #filter_box_background { top: 20px; left: 142px; }
#filter_box_border { top: 20px; left: 142px; }
#filter_box_font { top: 20px; left: 142px; }
#filter_clear_icon { top: 20px; left: 142px; } */

/* GROUPS SHELF TOOLBAR */
/* #group_list_background { top: 20px; left: 142px; }
#group_list_borders { top: 20px; left: 142px; }
#group_list_default_font_color { top: 20px; left: 142px; }
#group_list_button_hover_background { top: 20px; left: 142px; } */

/* TODO GROUP EDIT DIALOG */
/* #blablabla { top: 20px; left: 142px; } */






/* OPTIONS BUTTONS IMAGES */
.font_color {z-index: 1000; position: absolute; display: float; height: 20px; width: 20px; background-size: 20px 20px; background-image: url(../theme/options_font_color.svg);}
.font_color:hover {background-image: url(../theme/options_font_color_hover.svg);}
.font_weight_normal {z-index: 1000; position: absolute; display: float; height: 20px; width: 20px; background-size: 20px 20px; background-image: url(../theme/options_font_style_normal.svg);}
.font_weight_normal:hover {background-image: url(../theme/options_font_style_normal_hover.svg);}
.font_weight_bold {z-index: 1000; position: absolute; display: float; height: 20px; width: 20px; background-size: 20px 20px; background-image: url(../theme/options_font_weight_bold.svg);}
.font_weight_bold:hover {background-image: url(../theme/options_font_weight_bold_hover.svg);}
.font_style_normal {z-index: 1000; position: absolute; display: float; height: 20px; width: 20px; background-size: 20px 20px; background-image: url(../theme/options_font_style_normal.svg);}
.font_style_normal:hover {background-image: url(../theme/options_font_style_normal_hover.svg);}
.font_style_italic {z-index: 1000; position: absolute; display: float; height: 20px; width: 20px; background-size: 20px 20px; background-image: url(../theme/options_font_style_italic.svg);}
.font_style_italic:hover {background-image: url(../theme/options_font_style_italic_hover.svg);}


.color_bucket {z-index: 10000; position: absolute; display: float; height: 20px; width: 20px; background-size: 20px 20px; background-image: url(../theme/options_color_bucket.svg);}
.color_bucket:hover {background-image: url(../theme/options_color_bucket_hover.svg);}

.color_brush {z-index: 10000; position: absolute; display: float; height: 20px; width: 20px; background-size: 20px 20px; background-image: url(../theme/options_color_brush.svg);}
.color_brush:hover {background-image: url(../theme/options_color_brush_hover.svg);}

.color_border {z-index: 10000; position: absolute; display: float; height: 20px; width: 20px; background-size: 20px 20px; background-image: url(../theme/options_color_border.svg);}
.color_border:hover {background-image: url(../theme/options_color_border_hover.svg);}

.color_x {z-index: 10000; position: absolute; display: float; height: 20px; width: 20px; background-size: 20px 20px; background-image: url(../theme/options_color_x.svg);}
.color_x:hover {background-image: url(../theme/options_color_x_hover.svg);}


.options_button_minus {z-index: 10000; display: float; position: absolute; top: 5px; left: 6px; height: 20px; width: 20px; background-size: 20px 20px; background-image: url(../theme/options_scale_minus.svg);}
.options_button_minus:hover {background-image: url(../theme/options_scale_minus_hover.svg);}
.options_button_plus {z-index: 10000; display: float; position: absolute; top: 5px; left: 54px; height: 20px; width: 20px; background-size: 20px 20px; background-image: url(../theme/options_scale_plus.svg);}
.options_button_plus:hover {background-image: url(../theme/options_scale_plus_hover.svg);}

